# app name & debug 
APP_NAME=
DEBUG=

# database 
DATABASE_URL=

# email credentials
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# ======= security =======
# hash
ALGORITHM=

# auth
SECRET_KEY=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=

# csrf
CSRF_SECRET_KEY=

# account activation 
ACTIVATION_SECRET_KEY=

# reset password
RESET_PASSWORD_SECRET_KEY=

# frontend url
FRONTEND_URL=